<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>WeidtSpace</title>
  <link rel="stylesheet" type="text/css" href="https://www.christopherbrenberg.com/templates/styles.css" data-preload="true">
</head>
<body>
  <div id="container">
    <div id="header">
      <img id="bannerlogo" src="https://www.christopherbrenberg.com/templates/WeidtSpace.png" data-preload="true" />
    </div>
    <div id="api" data-name="Unified">
			<div class="localAccount" aria-label="Sign in with your existing account" role="form">
					<div class="intro">
						<h2>
							Sign in with your existing account
						</h2>
					</div>
					<div class="error pageLevel" aria-hidden="true" style="display: none;">
						<p role="alert"></p>
					</div>
					<div class="entry">
						<div class="entry-item">
							<label for="signInName">
								Email Address
							</label>
							<div class="error itemLevel" aria-hidden="true" style="display: none;">
								<p role="alert"></p>
							</div>
							<input type="email" id="signInName" name="Email Address" pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Email Address" value="" tabindex="1">
						</div>
						<div class="entry-item">
							<div class="password-label">
								<label for="password">Password</label>
								<a id="forgotPassword" tabindex="2" href="/twgtesting.onmicrosoft.com/B2C_1A_signup_signin/api/CombinedSigninAndSignup/forgotPassword?csrf_token=MW9aZ0QrckZJUkk0QXRDazE2YzVEZlIzQnJEekhKdnVQK2VHQm1BZVp0SCttZU1KUC9EdDNaTVJpZUYxRmpPamlDa1pYVUpHbldsdEZXc0oxQ2xscVE9PTsyMDIyLTA3LTAxVDE3OjA0OjQwLjQ1NDQ3MzdaOzc2NTdRdzhlTE0wbmNtTXZ4Ym5JRXc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiJjZTFjMTI4Mi1hYjA1LTRjNGEtOTk3ZC0zMTMxYzBkOWNiOGUifQ&amp;p=B2C_1A_signup_signin">Forgot your password?</a>
							</div>
							<div class="error itemLevel" aria-hidden="true" style="display: none;">
								<p role="alert"></p>
							</div>
							<input type="password" id="password" name="Password" placeholder="Password" tabindex="1">
						</div>
						<div class="working"></div>
						<div class="buttons">
							<button id="next" tabindex="1">Sign in</button>
						</div>
					</div>
					
					<div class="divider">
						<h2>OR</h2>
					</div>
					<div class="create">
						<p>
							Don't have an account?<a id="createAccount" tabindex="1" href="/twgtesting.onmicrosoft.com/B2C_1A_signup_signin/api/CombinedSigninAndSignup/unified?local=signup&amp;csrf_token=MW9aZ0QrckZJUkk0QXRDazE2YzVEZlIzQnJEekhKdnVQK2VHQm1BZVp0SCttZU1KUC9EdDNaTVJpZUYxRmpPamlDa1pYVUpHbldsdEZXc0oxQ2xscVE9PTsyMDIyLTA3LTAxVDE3OjA0OjQwLjQ1NDQ3MzdaOzc2NTdRdzhlTE0wbmNtTXZ4Ym5JRXc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiJjZTFjMTI4Mi1hYjA1LTRjNGEtOTk3ZC0zMTMxYzBkOWNiOGUifQ&amp;p=B2C_1A_signup_signin">Sign up now</a>
						</p>
					</div>
				</div>
			</div>
    <div id="disclaimer">
      <p>
        This information system is the property of the Willdan Group, Inc. (Willdan®). Only authorized individuals may use Willdan information systems for official business purposes. If you are not authorized to access this information system, please immediately leave this page.
      </p>
      <p>
        <i>You do not have the right to privacy while using this information system.</i> Your use of Willdan’s information systems, for whatever purpose, is neither private nor anonymous. While using Willdan’s information systems, your use may be monitored or recorded. Unauthorized or inappropriate use of Willdan's information systems may result in the loss or limitation of your privileges.
      </p>
    </div>
  </div>
</body>
</html>